<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DBSSqlConnectionString" connectionString="Data Source=DESKTOP-5K6HKKB;Initial Catalog=novaDBcsharp;User ID=mukky;Password=marek3005" providerName="System.Data.SqlClient" />
    <add name="novaDBcsharpEntities" connectionString="metadata=res://*/DBSentity.csdl|res://*/DBSentity.ssdl|res://*/DBSentity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5K6HKKB;Initial Catalog=novaDBcsharp;User ID=mukky;Password=marek3005;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>