<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GemBox.Spreadsheet" version="39.3.30.1207" targetFramework="net40-client" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net4-client" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net4-client" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net4-client" />
</packages>